<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="parser" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log\advancemachines-parser.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="MaxFileSize" value="500MB"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %p | %m%n"/>
        </layout>
    </appender>

    <logger name="advmach.parser" additivity="false">
        <level value="all"/>
        <appender-ref ref="parser"/>
    </logger>
</log4j:configuration>